/* You can add global styles to this file, and also import other style files */

@import 'colors';

body{
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: $bgColor;
    color: $fontColor;
}
